.workContainer {
  display: flex;
  min-height: 100vh;
  background-color: white;
  flex-direction: column;
  padding: 2em;
}

.workContentContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 900px;
  width: 100%;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 100px;
}

.workContentContainer h1 {
  color: #0047AB;
  font-size: 52px;
  font-weight: 900;
}

.workContentContainer p {
  color: #FF6F61;
  font-size: 18px;
}

.workTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.workProjects img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.workProjects img:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.workProjects {
  margin-top: 50px;
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
}
